<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value="https://commitlog.documents.azure.com:443/"/>
    <add key="key" value="mEGoJ1Eg5EVSvNyLLBnO6zeWrjcc7iFCs5aYSHXztQpISsXKfxKloMAN69NWSJB0E3LMYaXrSnQhupjWXgnkyw=="/>
    <add key="DatabaseName" value="throughput"/>
    <add key="CollectionName" value="bulkimport.benchmark"/>
    <add key="NumberOfPartitions" value="1"/> <!-- CSV e.g. "1,100,1000" -->
    <add key="NumberOfDocuments" value="10000"/> <!-- total number of documents to insert. This number has to be higher than the number of partitions. -->
    <add key="NumberOfTrials" value="10"/> <!-- number of trials for each configuration -->
    <add key="StringFieldSize" value="100"/> <!-- size of the string field in the document -->
    <add key="DeleteCollectionAfterUse" value="true"/>
    <add key="LogDestination" value="C:\temp\benchmark-mongodb.txt"/>
  </appSettings>
</configuration>