<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value="https://commitlog.documents.azure.com:443/"/>
    <add key="key" value="mEGoJ1Eg5EVSvNyLLBnO6zeWrjcc7iFCs5aYSHXztQpISsXKfxKloMAN69NWSJB0E3LMYaXrSnQhupjWXgnkyw=="/>
    <add key="ConnectionString" value="AccountEndpoint=https://commitlog.documents.azure.com:443/;AccountKey=mEGoJ1Eg5EVSvNyLLBnO6zeWrjcc7iFCs5aYSHXztQpISsXKfxKloMAN69NWSJB0E3LMYaXrSnQhupjWXgnkyw==;"/>
    <add key="DatabaseName" value="throughput"/>
    <add key="CollectionName" value="c1"/>
    <add key="DegreeOfParallelism" value="400"/>
    <add key="NumberOfDocumentsToInsert" value="30000"/>
    <add key="RUS" value="100000"/>
    <add key="CollectionPartitionKey" value="/TableName"/>    
  </appSettings>
</configuration>