<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value="https://commitlog.documents.azure.com:443/"/>
    <add key="key" value="mEGoJ1Eg5EVSvNyLLBnO6zeWrjcc7iFCs5aYSHXztQpISsXKfxKloMAN69NWSJB0E3LMYaXrSnQhupjWXgnkyw=="/>
    <add key="DatabaseName" value="throughput"/>
    <add key="CollectionName" value="bulkimport.benchmark"/>
    <add key="NumberOfPartitions" value="50"/> <!-- CSV e.g. "1,50,100,300,500,1000,10000" -->
    <add key="NumberOfDocuments" value="10000"/> <!-- total number of documents to insert. This number has to be higher than the number of partitions. -->
    <add key="NumberOfTrials" value="10"/> <!-- number of trials for each configuration -->
    <add key="StringFieldSize" value="100"/> <!-- size of the string field in the document -->
    <add key="RUS" value="1000000"/> <!-- CSV e.g. "1000" or "400,1000,5000,10000,50000,100000,500000,1000000" -->
    <add key="DeleteCollectionAfterUse" value="true"/>
    <add key="CollectionPartitionKey" value="/TableName"/>
    <add key="LogDestination" value="C:\temp\benchmark-cosmos.txt"/>
  </appSettings>
</configuration>