<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="uri" value=""/>
    <add key="key" value=""/>
    <add key="ConnectionString" value=""/>
    <add key="DatabaseName" value=""/>
    <add key="CollectionName" value=""/>
    <add key="DegreeOfParallelism" value=""/>
    <add key="NumberOfDocumentsToInsert" value=""/>
    <add key="RUS" value=""/>
    <add key="CollectionPartitionKey" value=""/>    
  </appSettings>
</configuration>